[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
 
[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/kube-scheduler.conf
ExecStart=/usr/bin/kube-scheduler $KUBE_SCHEDULER_OPTS
#$KUBE_LOGTOSTDERR \
#$KUBE_LOG_LEVEL \
#$KUBE_MASTER \
Restart=on-failure
LimitNOFILE=65535
 
[Install]
WantedBy=multi-user.target
